@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import "./Colors.scss";

* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
}

.BookGroup{
  margin: 0 auto;
  width: 100%;
  background-color: $firstColor;

    .book-list {
      margin: auto;
      width: 90%;
      background-color: $firstColor;
      display: grid;
      grid-template-columns: repeat(auto-fit, 300px);
      grid-gap: 20px;
      justify-content: center;
      align-content: center;
    }
    .book-card {
      width: 300px;
      height: 100%;
      margin: 20px 20px 0px 20px;
      display: inline-table;
      background-color: $thirdColor;
      color: $seventhColor;
      border-radius: 8px;
    
        &:hover {
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
        }
        a {
          text-decoration: none;
          color: $thirdColor;
        }
        .desc {
          width: 300px;
          padding: 5%;
          text-align: center;
          font-size: 1.1rem;
        }
        img {
          width: 300px;
          height: 270px;
          object-fit: scale-down;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          background-image: linear-gradient(to bottom right, #404040 0%, #C0C0C0 100%);
        }
    }
}
