@import "./Colors.scss"; 

.navbar {
    width: 100%;
    
    &-container {
        top: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        width: 80%;
        margin: 0 auto;
        border-bottom: 1.5px solid $fifthColor;

        @media screen and (max-width: 900px){
            flex-direction: column;
            padding: 3% 0;
            height: 150px;
        }
        @media screen and (max-width: 500px){
            height: 220px;
            padding: 3% 0;
        }

    }
    &-icon {
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-self: start;

        @media screen and (max-width: 500px){
            flex-direction: column;
            padding: 3% 0;
            font-size: 1.7rem;
        }
        @media screen and (max-width: 350px) {
            padding: 5% 0;
            font-size: 1.4rem;
        }
    }
    &-form {
        width: auto;
    }
    input {
        width: 250px;
        padding: 6px 10px;
        margin: 10px 0px;
        border: 1px solid $sixthColor;
        font-size: 1rem;

        @media screen and (max-width: 530px){
            width: 100%;
        }

    }
    button {
        width: 80px;
        padding: 7px 0px;
        background-color: $secondColor;
        text-decoration: none;
        margin-right: 10px;

        @media screen and (max-width: 530px){
            width: 48%;
        }
        @media screen and (max-width: 350px) {
            width: 100%;
            margin-bottom: 10px;
        }
      }
    select {
        width: 90px;
        padding: 6px 5px;
        border: 1px solid $sixthColor;

        @media screen and (max-width: 530px){
            width: 48%;
        }
        @media screen and (max-width: 350px) {
            width: 100%;
        }
    }
    .container {
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 50px;
        padding-left: 50px;
      }
}